* {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    text-align: center;
    color: white;
    font-family: "Gruppo", "Raleway", Helvetica, Arial, sans-serif;
}





body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.intro div, .work-ex div, .projects div,
.skills div, .education div, .contact div {
    /* border: 20px #ccc solid; */
    padding: 100px;
}

.nav {
    padding-top: 25px;
    padding-bottom: 25px; 
}

/* .footer-end {
    padding-left: 100%;
} */

.box-1 {
    flex:1;
    /* order: 2 */
}

ul#menu li {
    display:inline;
}

.nav {
    padding-top: 25px;
    padding-bottom: 25px;
    word-spacing: 30px;
    font-size: 30px;
    vertical-align: middle;
    color: white;
    background: black;
}

.navlink:link {
    color: white;
    text-decoration: none;
}

.navlink:hover, .navlink:active {
    color: green;
}

img {
    width: 175px;
    height: 165px;
    margin: 50px 50px 50px 50px;
    border-radius: 50%;
}

h1, h2 {
    font-weight: 550;
    padding-top: 75px;
    padding-bottom: 150px;
    color: white;
}

h1 {
    padding-top: 95px;
}
h3 {
    font-weight: 550;
    padding-top: 50px;
    padding-bottom: 20px;
    color: white;
}

.intro, .work-ex, .projects, .skills, .education, .contact {
    font-size: 60px;
}

.intro {
    /* background-color: #17172c; */
    display: flex;
    background: linear-gradient(to bottom,#17172c, #6d6d96);
    /* padding-bottom: 200px; */
    color: white;
}

.work-ex {
    background: linear-gradient(to bottom, #47171d, #a7636b);
    /* padding-bottom: 200px; */
    color: white;
}

table, tr, td {
    margin-left:auto; 
    margin-right:auto;
    padding: 15px;
    border-collapse: collapse;
    border-spacing: 15px;
}

.projects {
    background: linear-gradient(to bottom, #504c13, #cec982);
    color: black;
}

.skills {
    background: linear-gradient(to bottom, #1d501d, #7dc57d);
    /* padding-bottom: 200px; */
    color: white;
}

.education {
    background: linear-gradient(to bottom, #743a3d, #b6818a);
    /* padding-bottom: 200px; */
    color: white;
}

.contact {
    /* background-color: #5b9185; */
    background: linear-gradient(to bottom, #274e46, #7aafad);
    /* padding-bottom: 200px; */
    color: white;
}

.sub-intro, .ex-list, .project-list, .skill-list, .edu-list, .contact-opt{
    font-size: 45px;
}

/* .sub-intro {
    width: 30%;
} */

.skill-list, .contact-opt {
    word-spacing: 60px;
}

.fa-linkedin {
    color: white;
    size: 45px;
    padding: 10px;
    margin-right: 10px;
    border-style: solid;
    border-radius: 10%;
    border-color: white;
    text-decoration: None;
}

.fa-linkedin:hover {
    color: #007bb5;
    border-color: #007bb5;
    opacity: 0.7;
}

.fa-envelope {
    color: white;
    size: 45px;
    margin-right: 10px;
}

.fa-envelope:hover {
    color: #d43f3f;
    opacity: 0.7;
}

.contact-link, .contact-link:hover, .contact-link:active {
    text-decoration: None;
}

.contact-link:hover, .contact-link:active {
    color: #d43f3f;
    opacity: 0.7;
}

.linkedin:hover {
    color: #007bb5;
    opacity: 0.7;
}

.footer-end {
    font-size: 30px;
    background: #17172c;
    color: white;
}

.footer-text {
    font-size: 30px;
    background: #17172c;
    color: white;
}


@media (min-width:550px) and (max-width:740px){

    .intro {
        color: red;
    }
}