* {
    margin: 0;
    padding: 0;
  }
  

* {
    text-align: center;
    color: white;
    font-family: "Gruppo", "Raleway", Helvetica, Arial, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
  

ul#menu li {
    display:inline;
}

nav {
    padding-top: 25px;
    padding-bottom: 25px;
    word-spacing: 30px;
    font-size: 30px;
    vertical-align: middle;
    color: white;
    background-color: black;
}

.navlink:link {
    color: white;
    text-decoration: none;
}

.navlink:hover, .navlink:active {
    color: green;
}

h1, h2 {
    font-weight: 550;
    padding-top: 200px;
    padding-bottom: 150px;
    color: white;
}

.intro, .skills, .education, .contact {
    font-size: 60px;
}

.intro {
    /* background-color: #17172c; */
    background: linear-gradient(to bottom,#17172c, #6d6d96);
    padding-bottom: 200px;
    color: white;
}

.skills {
    /* background-color: #81bb81; */
    background: linear-gradient(to bottom, #1d501d, #7dc57d);
    padding-bottom: 200px;
    color: white;
}

.education {
    /* background-color: #a16c6f; */
    background: linear-gradient(to bottom, #743a3d, #b6818a);
    padding-bottom: 200px;
    color: white;
}

.contact {
    background-color: #5b9185;
    background: linear-gradient(to bottom, #274e46, #7aafad);
    padding-bottom: 200px;
    color: white;
}

.sub-intro, .skill-list, .edu-list, .contact-opt{
    font-size: 45px;
}

.skill-list, .contact-opt {
    word-spacing: 60px;
}

.fa-linkedin {
    color: white;
    size: 45px;
    padding: 10px;
    margin-right: 10px;
    border-style: solid;
    border-radius: 10%;
    border-color: white;
    text-decoration: None;
}

.fa-linkedin:hover {
    color: #007bb5;
    border-color: #007bb5;
    opacity: 0.7;
}

.fa-envelope {
    color: white;
    size: 45px;
    margin-right: 10px;
}

.fa-envelope:hover {
    color: #d43f3f;
    opacity: 0.7;
}

.contact-link, .contact-link:hover, .contact-link:active {
    text-decoration: None;
}

.contact-link:hover, .contact-link:active {
    color: #d43f3f;
    opacity: 0.7;
}

.linkedin:hover {
    color: #007bb5;
    opacity: 0.7;
}

footer {
    font-size: 30px;
    background-color: #17172c;
    color: white;
}
